<h1>Utilisateurs</h1>

<table>
  <tr>
    <th>Login</th><th>Prénom</th>
    <th>Nom</th><th>Email</th>
  </tr>
  <% for user in @users %>
    <tr>
      <td><%= link_to user.login, user %></td>
      <td><%=h user.firstname %></td>
      <td><%=h user.lastname %></td>
      <td><%=h user.email %></td>
      <td><%= link_to "Edit", edit_user_path(user) %></td>
      <td><%= link_to "Destroy", user, :confirm => 'Etes vous sûr ?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Nouvel utilisateur", new_user_path %></p>
