<h1><%= @user.login %></h1>

<p><strong>Login :</strong><%= @user.login %></p>
<p><strong>Prénom :</strong><%= @user.firstname %></p>
<p><strong>Nom :</strong><%=h @user.lastname %></p>
<p><strong>Email :</strong><%=h @user.email %></p>

<p>
  <%= link_to "Editer", edit_user_path(@user) %> |
  <%= link_to "Détruire", @user, :confirm => 'Etes vous sûr?', :method => :delete %> |
  <%= link_to "Voir tous", users_path %>
</p>
