<h1>Post</h1>

<p>
  <strong>Titre:</strong>
  <%=h @post.title %>
</p>
<p>
  <strong>Auteur:</strong>
  <%= link_to @post.user.login, @post.user %>
</p>
<p>
  <strong>Content:</strong>
  <%=h @post.content %>
</p>

<p>
  <%= link_to "Editer", edit_post_path(@post) if current_user %> |
  <%= link_to "Supprimer", @post, :confirm => 'Etes vous sûre ?', :method => :delete if current_user %> |
  <%= link_to "Voir tous", posts_path %>
</p>
